<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="{{ '/' | relative_url }}assets/css/style.css">
	<script src="{{ '/' | relative_url }}assets/js/flipcards.js"></script>
</head>

<body>
	<div class="container">
		{{ content }}

		<div id="media-controls">
			<button id="first-page-btn">
				<svg viewBox="0 0 24 24" width="100%" height="100%">
					<path fill="currentColor" d="M18 6v12l-8-6zM6 6h2v12H6z" />
				</svg>
			</button>
			<button id="prev-page-btn">
				<svg viewBox="0 0 24 24" width="100%" height="100%">
					<path fill="currentColor" d="M15 18l-6-6 6-6v12z" />
				</svg>
			</button>
			<button id="auto-scroll-btn">
				<svg viewBox="0 0 24 24" width="100%" height="100%">
					<path fill="currentColor" d="M8 5v14l11-7z" />
				</svg>
			</button>
			<button id="next-page-btn">
				<svg viewBox="0 0 24 24" width="100%" height="100%">
					<path fill="currentColor" d="M9 6l6 6-6 6V6z" />
				</svg>
			</button>
			<button id="last-page-btn">
				<svg viewBox="0 0 24 24" width="100%" height="100%">
					<path fill="currentColor" d="M6 6v12l8-6-8-6zM18 6h-2v12h2z" />
				</svg>
			</button>
		</div>

	</div>

</body>

</html>